name: Build & Push Frontend Image

on:
  push:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend.yml"
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Frontend Image
        run: |
          docker build -f frontend/Dockerfile.frontend \
          -t ${{ secrets.DOCKERHUB_USERNAME }}/talnt-frontend:latest .

      - name: Push Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/talnt-frontend:latest
